h1 
{
    font-size: 28px;
    font-family: Monaco, Courier, monospace;
    color: #618ad2;
}

h2 
{
    font-size: 28px;
    font-family: Snell Roundhand, cursive;
    color: aqua;
}
h3 
{
    font-size: 28px;
    font-family: Snell Roundhand, cursive;
    line-height: 10%;
    color: red;
}
h4 
{
    font-size: 28px;
    font-family: Marker Felt, fantasy;
    font-size: large;
    line-height: 10%;
    color: aqua;
}
h5
{
    font-size: 28px;
    font-family: Marker Felt, fantasy;
    font-size: small;
    margin-left:50px;
    line-height: 5%;
    color: purple;
}
body
{
    background-color: #fff7; 
} 

p 
{
    font-family: Trattatello, fantasy;
    font-stretch: ultra-expanded;
    font-style: oblique;
    font-size: large;
    color: yellow;
}

#text 
{
    font-style: inherit;
    color: yellow;
    font-family: Monaco;
}


.auth-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


form{
    display: inline-block;
    text-align: left;
    padding: 20px;
    box-shadow: 0 0 5px 2px #ddd;
}



form input{
    font-size: 25pt;
    width: 100%;
    margin: 10px 5px;
    padding: 3px 10px;
    border: 2px solid #ddd;
}

form input[type="submit"]{
    background-color: #3498db;
    color: #fff;
}

.test{
    color: black;
    background-color: #fff7;
    display: inline-block;

    margin: 100px;
    padding: 100px;
}